{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
  },
  "rules": {
    "no-plusplus": "off",
    "no-console": "off",
    "camelcase": "off",
    "comma-dangle": "off",
    "no-param-reassign": "off",
    "guard-for-in": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": ["error", {"jsx": "off", "js": "error"}],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-restricted-syntax": "off"
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
