{
	"extends": "airbnb",
	"env": {
		"browser": true,
		"node": true,
		"mocha": true
	},
	"rules": {
		"no-plusplus": "off",
		"no-console": "off",
		"camelcase": "off",
		"comma-dangle": "off",
		"import/no-extraneous-dependencies": "off"
	}
}
