[Unit]
Description=Desktop Vacation

[Service]
##### ADD PROJECT FOLDER
ExecStart=     proF/.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=    proF

[Install]
WantedBy=multi-user.target
