html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h3, h4 { color: lightgray; }

.inverted h1, .inverted h2, .inverted label { color: white; }

.centered h1, .centered h2, .centered h3, .centered h4 { text-align: center; }

.padded { padding: 0 1em; }

.rounded { border-radius: 4px; }

.navbar { border-radius: 0; }

.navbar .container { width: 100%; }

/* BEGIN Image Cards */

.img-card {
	min-width: 100%;
	min-height: 5em;
	margin-bottom: 1em;
	padding: 4px;
	border: 1px solid lightgray;
	box-sizing: border-box;
	position: relative;
	text-align: center;
	cursor: pointer;
}

.img-card figcaption {
	width: 1em;
	height: 1em;
	margin: 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 0.5em;
	background-color: #292b2c;
	color: white;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 0.5em;
}

.img-card figcaption:hover .img-menu {
	display: inline-block;
	top: 0;
}

/* END Image Cards */

/* BEGIN Gallery Cards */

.gallery-card h2 {
	width: 100%;
	margin: 0;
	padding: 0.1em 0;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	background-color: rgba(41, 43, 44, 0.75);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

/* END Gallery Cards */

/* BEGIN Modals */

.modal-dialog {
	width: 95%;
	height: 90%;
	margin: 56px auto 0 auto;
}

.modal-content {
	height: 100%;
	background-color: rgba(61, 62, 62, 0.95);
}

.modal-header .close {
	color: ghostwhite;
}

.modal-body {
	height: 90%;
	text-align: center;
}

.modal-body img.img-responsive {
	display: inline-block;
	max-height: 100%;
}

.modal-body>.container-fluid {
	height: 100%;
	overflow-y: auto;
}

/* END Modals */

#notification {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 5000;
}

#notification p {
	margin-right: 2em;
	margin-bottom: 0;
}
