html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h3, h4 { color: lightgray; }

.inverted h1, .inverted h2, .inverted label { color: white; }

.centered h1, .centered h2, .centered h3, .centered h4 { text-align: center; }

.padded { padding: 0 1em; }

.img-card {
	min-width: 100%;
	min-height: 100px;
	margin-bottom: 1em;
	padding: 4px;
	border: 1px solid lightgray;
	box-sizing: border-box;
	position: relative;
	text-align: center;
	cursor: pointer;
}

.img-card figcaption {
	width: 1em;
	height: 1em;
	margin: 8px;
	padding-left: 0.1em;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #292b2c;
	color: white;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 0.5em;
}

.img-card figcaption:hover .img-menu {
	display: inline-block;
	top: 0;
}

.img-card .img-menu * { height: 1em; }

.gallery-card h2 {
	width: 100%;
	padding: 0.1em 0;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	background-color: rgba(41, 43, 44, 0.75);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.gallery-card img {
	max-height: 256px;
	max-width: 100%;
}

#notification {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 5000;
}

#notification p {
	margin-right: 2em;
	margin-bottom: 0;
}

#hover-content {
	width: 100%;
	height: 100%;
	padding-top: 56px;
	padding-bottom: 15px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(61, 62, 62, 0.95);
	display: none;
}

#img-expanded, #img-expanded>* {
	height: 100%;
	text-align: center;
}

#img-expanded img {
	max-width: 100%;
	max-height: 100%;
}
